go 1.26.1

use (
	.
	../fluxplane-core
	../fluxplane-datasource
	../fluxplane-endpoint
	../fluxplane-secret
	./fluxplaneplugin
	./plugins/asterisk
	./plugins/confluence
	./plugins/docker
	./plugins/duckduckgo
	./plugins/gitlab
	./plugins/grafana
	./plugins/jira
	./plugins/kubernetes
	./plugins/loki
	./plugins/ollama
	./plugins/openai
	./plugins/prometheus
	./plugins/slack
	./plugins/sql
	./plugins/system
	./plugins/tavily
)

replace github.com/fluxplane/fluxplane-dex v0.29.0 => .

replace github.com/fluxplane/fluxplane-core v0.30.0 => ../fluxplane-core

replace github.com/fluxplane/fluxplane-datasource v0.1.0 => ../fluxplane-datasource

replace github.com/fluxplane/fluxplane-endpoint v0.2.0 => ../fluxplane-endpoint

replace github.com/fluxplane/fluxplane-secret v0.2.0 => ../fluxplane-secret
