go 1.26.0

use (
	.
	./plugins/confluence
	./plugins/duckduckgo
	./plugins/docker
	./plugins/gitlab
	./plugins/grafana
	./plugins/kubernetes
	./plugins/loki
	./plugins/ollama
	./plugins/openai
	./plugins/prometheus
	./plugins/jira
	./plugins/slack
	./plugins/sql
	./plugins/system
	./plugins/tavily
)

replace github.com/fluxplane/fluxplane-dex v0.7.0 => .
